<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />
		<title>My first website</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="~/site.css" />	
	</head>
	<body>
		<nav>
			<ul>
				<li><a asp-controller="Home" asp-action="Index">Home Page</a></li>
				<li><a asp-controller="Home" asp-action="Privacy">Privacy Page </a></li>
			    <li><a asp-controller="Student" asp-action="Index">View Student</a></li>
			</ul>
		</nav>
		<main>
			@RenderBody()
		</main>
	</body>
</html>